Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/rb5009, device/crs326, device/crs-317, device/hex

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"

# =================================================================================================
# Device Labels
# =================================================================================================
device/rb5009:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/router-base/**"
      - any-glob-to-any-file: "infrastructure/mikrotik/router-services/**"

device/crs326:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/switch-crs326/**"

device/crs-317:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/switch-crs317/**"

device/hex:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/switch-hex/**"

chore(mise): add mc to manage state files if needed
  .mise.toml
Labels: none

style: fix lint
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

refactor: remove shared provider configuration -> local per unit
  README.md
  infrastructure/mikrotik/provider.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/_provider.tf
  infrastructure/mikrotik/router-services/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
  modules/mikrotik-base/_provider.tf
Labels: device/rb5009, device/crs326, device/crs-317, device/hex

feat: zerotier
  infrastructure/mikrotik/router-services/_provider.tf
  infrastructure/mikrotik/router-services/_variables.tf
  infrastructure/mikrotik/router-services/terragrunt.hcl
  infrastructure/mikrotik/router-services/zerotier.tf
Labels: device/rb5009

feat: zerotier fw rules
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat: update ethernet and sfp interface comments and VLAN assignments
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: device/crs326

refactor: reduce duplicated code when setting up firewall rules
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

refactor: remove router-specific locals from mikrotik-shared locals
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/dns-server.tf
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat: add DHCP reservation for living room pi kiosk
  infrastructure/mikrotik/locals.hcl
Labels: none

Revert "refactor: remove router-specific locals from mikrotik-shared locals"
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/dns-server.tf
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

ci(drift detector): add ZEROTIER_CENTRAL_TOKEN environment variable
  .github/workflows/drift-detector.yaml
Labels: area/github

ci(drift detector): split into 2 jobs
  .github/workflows/drift-detector.yaml
Labels: area/github

ci(drift detector): add missing setup step for mise action
  .github/workflows/drift-detector.yaml
Labels: area/github

ci: fix actionlint
  .github/workflows/drift-detector.yaml
Labels: area/github

ci(drift-detector): use github environments
  .github/workflows/drift-detector.yaml
Labels: area/github

fix(crs326): add port 21 to guest vlan for testing
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: device/crs326

ci(drift detector): set env vars for terragrunt
  .github/workflows/drift-detector.yaml
Labels: area/github

Revert "fix(crs326): add port 21 to guest vlan for testing"
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: device/crs326

chore: terragrunt init -upgrade
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Labels: device/rb5009, device/crs326, device/crs-317, device/hex

ci: create terragrunt apply workflow
  .github/workflows/terragrunt-apply.yaml
Labels: area/github

ci(drift detector): fix
  .github/workflows/drift-detector.yaml
Labels: area/github

feat(firewall): allow hass to smart TV
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

style: fix lint
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat(firewall): allow Hass to mirkputer
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

style: fix lint
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat(firewall): allow Hass to mirkputer (#115)
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

ci(lint): move terragrunt/terraform fmt to standalone workflow, add yamllint to lint workflow
  .github/workflows/lint.yaml
  .github/workflows/terragrunt-lint.yaml
  .yamllint.yaml
Labels: area/github

style: fix yamllint
  .github/workflows/drift-detector.yaml
  .github/workflows/pr-metadata.yaml
Labels: area/github

chore(mise): cleanup config
  .mise.toml
Labels: none

ci: rename workflow file
  .github/workflows/terragrunt-drift-detector.yaml
Labels: area/github

ci: load secrets from 1password
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-apply.yaml
Labels: area/github

ci: add terragrunt plan reusable workflow
  .github/workflows/terragrunt-drift-detector.yaml
  .github/workflows/terragrunt-plan.yaml
Labels: area/github

style: fix yamllint
  .github/workflows/terragrunt-apply.yaml
Labels: area/github

chore: set up pre-commit
  .mise.toml
  .pre-commit-config.yaml
Labels: none

ci: add terragrunt ci workflow
  .github/workflows/terragrunt-ci.yaml
Labels: area/github

feat: add some comments
  infrastructure/mikrotik/router-services/firewall-nat-rules.tf
  infrastructure/mikrotik/router-services/pppoe-client.tf
  modules/cloudflare-cname/main.tf
Labels: device/rb5009

feat: inject generated passwords into 1Password
  .mise.toml
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/1password/terragrunt.hcl
  modules/1password-item/main.tf
  modules/1password-item/providers.tf
  modules/1password-item/variables.tf
Labels: none

chore: fix precommit configuration
  .pre-commit-config.yaml
Labels: none

fix: update 1pass vault names
  .github/actions/load-secrets/action.yml
Labels: area/github

ci: set op token in env
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-plan.yaml
Labels: area/github
