Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/RB5009, device/CRS326, device/CRS317

remove router module
  locals.tf
  main.tf
  modules/dhcp-server/main.tf
  modules/dhcp-server/provider.tf
  modules/dhcp-server/variables.tf
  modules/router/_provider.tf
  modules/router/main.tf
  modules/router/pppoe-client.tf
  modules/router/variables.tf
  modules/router/variables_base.tf
  router-capsman.tf
  router-dhcp-servers.tf
  router-dns-server.tf
  router-firewall-rules.tf
  router-interface-lists.tf
  router-pppoe.tf
  router-rb5009.tf
  switch-crs326.tf
  switch-hex.tf
  terraform.tfstate.sops
Labels: area/terraform

refactor locals + provider -> main.tf
  main.tf
  provider.tf
Labels: area/terraform

remove switch module
  main.tf
  modules/base/_provider.tf
  modules/base/_variables.tf
  modules/base/certificates.tf
  modules/switch/main.tf
  modules/switch/provider.tf
  modules/switch/variables.tf
  modules/switch/variables_base.tf
  switch-crs326.tf
  switch-hex.tf
Labels: area/terraform

fix tasks
  mise.toml
Labels: none

chore: migrate state
  terraform.tfstate.sops
Labels: none

docs: Update readme
  README.md
  network-diagram.drawio.png
Labels: none

update
  README.md
Labels: none

update steps
  README.md
Labels: none

update
  README.md
Labels: none

idk
  README.md
  thumbnail.png
Labels: none

update
  README.md
  docs/img/network-diagram.drawio.png
  docs/img/thumbnail.png
Labels: none

feat: Add DNS entry for IP KVM
  main.tf
Labels: area/terraform

idk but this is causing weird behavior
  mise.toml
Labels: none

chore: Terraform apply
  terraform.tfstate.sops
Labels: none

feat: hardwire work laptop into port 17
  switch-crs326.tf
Labels: area/terraform

chore: terraform apply
  terraform.tfstate.sops
Labels: none

ci: add codeql workflow
  .github/workflows/codeql.yml
Labels: area/github

chore(renovate): update config
  renovate.json5
Labels: none

ci: add codeql workflow (#78)
  .github/workflows/codeql.yml
Labels: area/github

chore(renovate): update config (#79)
  renovate.json5
Labels: none

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"
      - any-glob-to-any-file: "modules/**/*"

# =================================================================================================
# Device Labels
# =================================================================================================
device/RB5009:
  - changed-files:
      - any-glob-to-any-file: "modules/rb5009/**/*"

device/CRS326:
  - changed-files:
      - any-glob-to-any-file: "modules/crs326/**/*"

device/CRS317:
  - changed-files:
      - any-glob-to-any-file: "modules/crs317/**/*"
