Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/RB5009, device/CRS326, device/CRS317

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"
      - any-glob-to-any-file: "modules/**/*"

# =================================================================================================
# Device Labels
# =================================================================================================
device/RB5009:
  - changed-files:
      - any-glob-to-any-file: "modules/rb5009/**/*"

device/CRS326:
  - changed-files:
      - any-glob-to-any-file: "modules/crs326/**/*"

device/CRS317:
  - changed-files:
      - any-glob-to-any-file: "modules/crs317/**/*"

cleanup settings
  .vscode/settings.json
Labels: none

fix: Increase DNS cache size
  modules/rb5009/dns-server.tf
Labels: area/terraform, device/RB5009

fix: Allow MAC server only on LAN interfaces
  modules/rb5009/tools.tf
Labels: area/terraform, device/RB5009

fix: Allow IP Services only from the Trusted VLAN
  modules/rb5009/ip-services.tf
Labels: area/terraform, device/RB5009

feat: Define IP Address List for IoT devices that need internet access
  modules/rb5009/vlan-iot.tf
Labels: area/terraform, device/RB5009

feat: Define IP Address List for K8S Services
  modules/rb5009/vlan-kubernetes.tf
Labels: area/terraform, device/RB5009

style: terraform fmt
  modules/rb5009/ip-services.tf
  modules/rb5009/ntp.tf
Labels: area/terraform, device/RB5009

feat: Define interface lists
  modules/rb5009/bridge.tf
  modules/rb5009/interface_lists.tf
  modules/rb5009/pppoe.tf
  modules/rb5009/vlan-guest.tf
  modules/rb5009/vlan-iot.tf
  modules/rb5009/vlan-kubernetes.tf
  modules/rb5009/vlan-servers.tf
  modules/rb5009/vlan-trusted.tf
  modules/rb5009/vlan-untrusted.tf
Labels: area/terraform, device/RB5009

style: terraform fmt
  modules/rb5009/interface_lists.tf
Labels: area/terraform, device/RB5009

feat: Update firewall rules
  modules/rb5009/firewall.tf
Labels: area/terraform, device/RB5009

chore: terraform apply
  credentials.auto.tfvars.sops
  terraform.tfstate.sops
Labels: none

chore: Add `tf-summarize` to dev env
  Taskfile.yaml
  aqua.yaml
Labels: none

configure interfaces
  modules/crs317/interfaces.tf
Labels: area/terraform, device/CRS317

set system identity
  modules/crs317/system.tf
Labels: area/terraform, device/CRS317

set timezone
  modules/crs317/system.tf
Labels: area/terraform, device/CRS317

configure ntp client
  modules/crs317/ntp.tf
Labels: area/terraform, device/CRS317

import default bridge && add laggs to bridge
  modules/crs317/bridge.tf
Labels: area/terraform, device/CRS317

create LAGGs
  modules/crs317/lagg.tf
Labels: area/terraform, device/CRS317

disable ipv6
  modules/crs317/system.tf
Labels: area/terraform, device/CRS317

configure tools
  modules/crs317/tools.tf
Labels: area/terraform, device/CRS317

rename file
  modules/crs317/bonds.tf
Labels: area/terraform, device/CRS317

add dhcp client
  modules/crs317/dhcp.tf
Labels: area/terraform, device/CRS317

configure ip services and certs
  modules/crs317/ip-services.tf
Labels: area/terraform, device/CRS317

update ntp server address
  modules/crs317/ntp.tf
Labels: area/terraform, device/CRS317

define vlans
  modules/crs317/vlans.tf
Labels: area/terraform, device/CRS317

chore: hide redundant files
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: replace aqua with mise
  aqua.yaml
  mise.toml
Labels: none

fix: put kube nodes mgmt interfaces on Servers VLAN
  modules/crs326/vlans.tf
Labels: area/terraform, device/CRS326

chore: terraform apply
  credentials.auto.tfvars.sops
  terraform.tfstate.sops
Labels: none

fix dhcp leases
  modules/rb5009/vlan-kubernetes.tf
  modules/rb5009/vlan-servers.tf
Labels: area/terraform, device/RB5009

this didnt even take me a long time to figure out
  modules/crs326/bridge.tf
Labels: area/terraform, device/CRS326

chore: terraform apply
  credentials.auto.tfvars.sops
  terraform.tfstate.sops
Labels: none

chore(renovate): Update renovate config
  renovate.json
Labels: none

chore: Update CoC file name
  .github/Code_of_Conduct.md
Labels: area/github

chore: Update License file name
  LICENSE.md
Labels: none

feat: Add new nas to untrusted, trusted and kube networks
  modules/crs326/vlans.tf
Labels: area/terraform, device/CRS326

chore: Terraform apply
  credentials.auto.tfvars.sops
  terraform.tfstate.sops
Labels: none

fix: Wrong interface for new nas 😅
  modules/crs326/vlans.tf
Labels: area/terraform, device/CRS326

chore: Terraform apply
  credentials.auto.tfvars.sops
  terraform.tfstate.sops
Labels: none

One module to rule them all, one module to find them. One module to bring them all and in the darkness bind them
  code/main.tf
  code/modules/switch/_provider.tf
  code/modules/switch/_variables.tf
  code/modules/switch/bridge.tf
  code/modules/switch/interfaces.tf
  code/modules/switch/ip-services.tf
  code/modules/switch/ntp.tf
  code/modules/switch/system.tf
  code/modules/switch/tools.tf
  code/modules/switch/vlans.tf
Labels: none
