Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/rb5009, device/crs326, device/crs-317, device/hex

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"

# =================================================================================================
# Device Labels
# =================================================================================================
device/rb5009:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/router-base/**"
      - any-glob-to-any-file: "infrastructure/mikrotik/router-services/**"

device/crs326:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/switch-crs326/**"

device/crs-317:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/switch-crs317/**"

device/hex:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/mikrotik/switch-hex/**"

docs: update diagram
  docs/img/network-diagram.drawio.png
Labels: none

docs: update readme
  README.md
Labels: none

Update firewall-filter-rules.tf
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

fix
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

remove duplicate
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat(firewall): allow broadcast from Hass tot Trusted for WoL (#118)
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat(crs317): add 10gig port for mirkputer
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Labels: device/crs-317

feat: set static lease for mirkputer 10g
  infrastructure/mikrotik/locals.hcl
Labels: none

feat: decommission Odroid C4
  infrastructure/mikrotik/locals.hcl
Labels: none

feat: move HomeAssistant to the living room
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Labels: device/crs326, device/hex

fix: put mirkputer 10gig on CRS317
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: device/crs326, device/crs-317

feat: replace JetKVM w/ BliKVM
  infrastructure/mikrotik/locals.hcl
Labels: none

feat(crs326): cable cleanup
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: device/crs326

feat(crs317): 10 gig for aux node
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Labels: device/crs-317

feat: update dhcp reservations
  infrastructure/mikrotik/locals.hcl
Labels: none

fix: typo
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Labels: device/crs-317

feat: add support for "match_subdomain" on DNS records
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/dns-server.tf
Labels: device/rb5009

feat: add CNAMEs for truenas services
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/dns-server.tf
Labels: device/rb5009

fix(firewall): asymmetric routing
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat: add dhcp lease for Automaton
  infrastructure/mikrotik/locals.hcl
Labels: none

chore: terragrunt init --all -upgrade
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/cloudflare/primary/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/.terraform.lock.hcl
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Labels: device/rb5009, device/crs326, device/crs-317, device/hex

fix(firewall): rename asymmetric routing rules
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

feat(firewall): add rule for asymmetric routing from management to services
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Labels: device/rb5009

ci: Change runner type for terragrunt plan job
  .github/workflows/terragrunt-plan.yaml
Labels: area/github

ci: Change runner type for terragrunt-apply job
  .github/workflows/terragrunt-apply.yaml
Labels: area/github

chore: update self hosted runner label in actionlint config
  .github/actionlint.yaml
Labels: area/github

feat: add DHCP reservation and DNS entries for Epson printer
  infrastructure/mikrotik/locals.hcl
Labels: none

fix: change hass secondary dns record to CNAME pointing to main record
  infrastructure/mikrotik/locals.hcl
Labels: none

chore: terragrunt init -upgrade
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Labels: device/rb5009, device/crs326, device/crs-317, device/hex

feat: add testnas
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Labels: device/crs326
