Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/RB5009, device/CRS326, device/CRS317

chore: Remove vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: Fix taskfile?
  Taskfile.yaml
Labels: none

chore: assume SOPS config is global on host
  Taskfile.yaml
Labels: none

feat: Create base module
  code/modules/base/_provider.tf
  code/modules/base/_variables.tf
  code/modules/base/ntp.tf
  code/modules/base/system.tf
  code/modules/base/tools.tf
Labels: none

implement module and remove unused files
  code/devices/crs317/_provider.tf
  code/devices/crs317/_variables.tf
  code/devices/crs326/ntp.tf
  code/devices/crs326/system.tf
  code/devices/crs326/tools.tf
  code/devices/hex/ntp.tf
  code/devices/hex/system.tf
  code/devices/hex/tools.tf
  code/devices/rb5009/ntp.tf
  code/devices/rb5009/system.tf
  code/devices/rb5009/tools.tf
  code/main.tf
Labels: none

chore: migrate tf state
  code/terraform.tfstate.sops
Labels: none

add dns+pppoe?
  code/main.tf
  code/modules/base/_variables.tf
  code/modules/base/dynamic-ip.tf
Labels: none

wip
  code/modules/base/ip-services.tf
Labels: none

chore: Drop taskfile for mise tasks
  Taskfile.yaml
  mise.toml
Labels: none

feat: Create dedicated switch and router modules that implement the base module
  code/modules/router/_provider.tf
  code/modules/router/_variables.tf
  code/modules/router/main.tf
  code/modules/router/pppoe-client.tf
  code/modules/switch/_provider.tf
  code/modules/switch/_variables.tf
  code/modules/switch/dhcp-client.tf
  code/modules/switch/main.tf
Labels: none

migrate resources over
  code/credentials.auto.tfvars.sops
  code/devices/crs326/dhcp.tf
  code/devices/hex/dhcp.tf
  code/devices/rb5009/pppoe.tf
  code/main.tf
  code/new.tf
  code/old.tf
  code/terraform.tfstate.sops
Labels: none

move over certificates && ip-services to new module
  code/credentials.auto.tfvars.sops
  code/devices/crs326/ip-services.tf
  code/devices/hex/ip-services.tf
  code/devices/rb5009/ip-services.tf
  code/modules/base/certificates.tf
  code/modules/base/ip-services.tf
  code/terraform.tfstate.sops
Labels: none

move over dns server config
  code/credentials.auto.tfvars.sops
  code/devices/rb5009/dns-server.tf
  code/modules/router/_variables.tf
  code/modules/router/dns-server.tf
  code/new.tf
  code/terraform.tfstate.sops
Labels: none

add interfaces + bridges + vlan management to the switch module
  code/modules/switch/_variables.tf
  code/modules/switch/bridge.tf
  code/modules/switch/interfaces.tf
  code/modules/switch/vlans.tf
Labels: none

implement new module features for hex
  code/devices/hex/_provider.tf
  code/devices/hex/_variables.tf
  code/devices/hex/bridge.tf
  code/devices/hex/interfaces.tf
  code/devices/hex/vlans.tf
  code/new.tf
  code/old.tf
Labels: none

update static lease for hex
  code/devices/rb5009/vlan-servers.tf
Labels: none

chore: migrate over resources
  code/terraform.tfstate.sops
Labels: none

move over CRS326 to new module
  code/devices/crs326/_provider.tf
  code/devices/crs326/_variables.tf
  code/devices/crs326/bonds.tf
  code/devices/crs326/bridge.tf
  code/devices/crs326/interfaces.tf
  code/devices/crs326/vlans.tf
  code/new.tf
  code/old.tf
Labels: none

update static lease for crs326
  code/devices/rb5009/vlan-servers.tf
Labels: none

chore: migrate over resources
  code/terraform.tfstate.sops
Labels: none

update provider
  code/provider.tf
Labels: none

rename modules hex_mig -> hex and crs326_mig -> crs326 (migration complete?)
  code/new.tf
  code/terraform.tfstate.sops
Labels: none

fix: use var for bridge name
  code/modules/switch/vlans.tf
Labels: none

style: fmt
  code/new.tf
Labels: none

move over most of the router config as well + various refactoring
  code/devices/rb5009/bridge.tf
  code/devices/rb5009/capsman.tf
  code/devices/rb5009/firewall.tf
  code/devices/rb5009/interface_lists.tf
  code/devices/rb5009/interfaces.tf
  code/devices/rb5009/vlan-guest.tf
  code/devices/rb5009/vlan-iot.tf
  code/devices/rb5009/vlan-kubernetes.tf
  code/devices/rb5009/vlan-servers.tf
  code/devices/rb5009/vlan-trusted.tf
  code/devices/rb5009/vlan-untrusted.tf
  code/modules/base/_variables.tf
  code/modules/base/bridge.tf
  code/modules/base/interfaces.tf
  code/modules/base/vlans.tf
  code/modules/router/dhcp-server.tf
  code/modules/router/interface-lists.tf
  code/modules/router/main.tf
  code/modules/router/modules/dhcp-server/main.tf
  code/modules/router/modules/dhcp-server/provider.tf
  code/modules/router/modules/dhcp-server/variables.tf
  code/modules/router/pppoe-client.tf
  code/modules/router/variables.tf
  code/modules/router/variables_base.tf
  code/modules/switch/dhcp-client.tf
  code/modules/switch/main.tf
  code/modules/switch/provider.tf
  code/modules/switch/variables.tf
  code/modules/switch/variables_base.tf
  code/new.tf
Labels: none

chore: migrate state
  code/terraform.tfstate.sops
Labels: none

chore: migrate NAT rule to new module
  code/devices/rb5009/firewall.tf
  code/modules/router/firewall.tf
  code/terraform.tfstate.sops
Labels: none

add fw rule
  code/devices/rb5009/firewall.tf
Labels: none

organize
  code/crs326.tf
  code/hex.tf
  code/locals.tf
  code/new.tf
  code/old.tf
  code/rb5009.tf
Labels: none

restructure + rename
  code/crs326.tf
  code/hex.tf
  code/main.tf
  code/rb5009.tf
  code/terraform.tfstate.sops
Labels: none

i really dont like this but i am not smart enough to do better
  code/devices/rb5009/_provider.tf
  code/devices/rb5009/_variables.tf
  code/devices/rb5009/firewall.tf
  code/main.tf
  code/modules/router/capsman.tf
  code/modules/router/firewall.tf
  code/modules/router/variables.tf
Labels: none

chore: migrate state
  code/terraform.tfstate.sops
Labels: none

move the code back to the root of the repo?
  credentials.auto.tfvars.sops
  locals.tf
  main.tf
  modules/base/_provider.tf
  modules/base/_variables.tf
  modules/base/bridge.tf
  modules/base/certificates.tf
  modules/base/interfaces.tf
  modules/base/ip-services.tf
  modules/base/ntp.tf
  modules/base/system.tf
  modules/base/tools.tf
  modules/base/vlans.tf
  modules/router/_provider.tf
  modules/router/capsman.tf
  modules/router/dhcp-server.tf
  modules/router/dns-server.tf
  modules/router/firewall.tf
  modules/router/interface-lists.tf
  modules/router/main.tf
  modules/router/modules/dhcp-server/main.tf
  modules/router/modules/dhcp-server/provider.tf
  modules/router/modules/dhcp-server/variables.tf
  modules/router/pppoe-client.tf
  modules/router/variables.tf
  modules/router/variables_base.tf
  modules/switch/main.tf
  modules/switch/provider.tf
  modules/switch/variables.tf
  modules/switch/variables_base.tf
  provider.tf
  terraform.tfstate.sops
  variables.tf
Labels: area/terraform

relocate configs
  .commitlintrc.yaml
  .github/renovate.json
  .github/workflows/configs/commitlint.config.mjs
  .github/workflows/configs/labeler.yaml
  .github/workflows/configs/labels.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint-job.yaml
  .github/workflows/renovate.yaml
  .markdownlint.yaml
  .yamllint.yaml
Labels: area/github

lmao
  .github/configs/commitlint.config.mjs
  .github/configs/labeler.yaml
  .github/configs/labels.yaml
  .github/workflows/lint-job.yaml
Labels: area/github

fix
  .github/configs/.markdownlint.yaml
  .github/workflows/lint-job.yaml
Labels: area/github

try main?
  .github/workflows/lint-job.yaml
Labels: area/github

license is not in markdown format
  LICENSE
Labels: none

update
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint-job.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: add terraform fmt workflow
  .github/workflows/lint-job.yaml
Labels: area/github

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"
      - any-glob-to-any-file: "modules/**/*"

# =================================================================================================
# Device Labels
# =================================================================================================
device/RB5009:
  - changed-files:
      - any-glob-to-any-file: "modules/rb5009/**/*"

device/CRS326:
  - changed-files:
      - any-glob-to-any-file: "modules/crs326/**/*"

device/CRS317:
  - changed-files:
      - any-glob-to-any-file: "modules/crs317/**/*"
