Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/RB5009, device/CRS326, device/CRS317

chore: Add vscode TOML extension
  .vscode/extensions.json
Labels: none

feat: add mise config
  mise.toml
Labels: none

fix
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .mise.toml
Labels: none

chore: add yamlfmt config
  .yamlfmt.yaml
Labels: none

fix lint
  .github/funding.yml
Labels: area/github

fix?
  .devcontainer/Dockerfile
Labels: none

we dont need node
  .mise.toml
Labels: none

configure vlans + dhcp
  modules/rb5009/vlan-guest.tf
  modules/rb5009/vlan-iot.tf
  modules/rb5009/vlan-kubernetes.tf
  modules/rb5009/vlan-servers.tf
  modules/rb5009/vlan-trusted.tf
  modules/rb5009/vlan-untrusted.tf
Labels: area/terraform, device/RB5009

configure guest and iot SSIDs with VLAN tagging
  main.tf
  modules/rb5009/_variables.tf
  modules/rb5009/capsman.tf
  variables.tf
Labels: area/terraform, device/RB5009

configure capsman
  modules/rb5009/_variables.tf
  modules/rb5009/capsman.tf
Labels: area/terraform, device/RB5009

adjust vlan tagged ports
  modules/rb5009/bridge.tf
  modules/rb5009/vlan-guest.tf
  modules/rb5009/vlan-servers.tf
Labels: area/terraform, device/RB5009

configure upstream dns servers
  modules/rb5009/dns-server.tf
Labels: area/terraform, device/RB5009

configure tools
  modules/rb5009/tools.tf
Labels: area/terraform, device/RB5009

disable ipv6
  modules/rb5009/system.tf
Labels: area/terraform, device/RB5009

remove dhcp lease for cisco switch (rip)
  modules/rb5009/vlan-servers.tf
Labels: area/terraform, device/RB5009

configure interfaces
  modules/rb5009/interfaces.tf
Labels: area/terraform, device/RB5009

import bridge and set native vlans
  modules/rb5009/bridge.tf
Labels: area/terraform, device/RB5009

enable adblocking with the stebenblack list (pihole)
  modules/rb5009/dns-server.tf
Labels: area/terraform, device/RB5009

configure timezone
  modules/rb5009/system.tf
Labels: area/terraform, device/RB5009

configure pppoe for wan
  modules/rb5009/_variables.tf
  modules/rb5009/pppoe.tf
Labels: area/terraform, device/RB5009

cleanup dhcp static leases
  modules/rb5009/vlan-iot.tf
  modules/rb5009/vlan-servers.tf
  modules/rb5009/vlan-untrusted.tf
Labels: area/terraform, device/RB5009

change servers vlan from tagged to untagged on living room port
  modules/rb5009/bridge.tf
  modules/rb5009/vlan-servers.tf
Labels: area/terraform, device/RB5009

configure ip services
  modules/rb5009/ip-services.tf
Labels: area/terraform, device/RB5009

define and import default ipv4 firewall rules
  modules/rb5009/firewall.tf
Labels: area/terraform, device/RB5009

enable mdns repeater for iot and untrusted
  modules/rb5009/dns-server.tf
Labels: area/terraform, device/RB5009

update variables
  main.tf
  variables.tf
Labels: area/terraform

remove tagged interface for guest vlan
  modules/rb5009/vlan-guest.tf
Labels: area/terraform, device/RB5009

configure system identity
  modules/rb5009/system.tf
Labels: area/terraform, device/RB5009

configure ntp client and server
  modules/rb5009/ntp.tf
Labels: area/terraform, device/RB5009

fix dhcp leases
  modules/rb5009/vlan-iot.tf
  modules/rb5009/vlan-servers.tf
  modules/rb5009/vlan-untrusted.tf
Labels: area/terraform, device/RB5009

initialize module
  modules/hex/_provider.tf
  modules/hex/_variables.tf
Labels: area/terraform

configure system settings
  modules/hex/system.tf
Labels: area/terraform

configure interfaces
  modules/hex/interfaces.tf
Labels: area/terraform

import bridge and enable vlan filtering
  modules/hex/bridge.tf
Labels: area/terraform

configure ntp client
  modules/hex/ntp.tf
Labels: area/terraform

configure tools
  modules/hex/tools.tf
Labels: area/terraform

terraform fmt
  modules/hex/interfaces.tf
Labels: area/terraform

fix name
  modules/hex/bridge.tf
Labels: area/terraform

add bridge ports
  modules/hex/bridge.tf
Labels: area/terraform

configure vlans
  modules/hex/vlans.tf
Labels: area/terraform

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"
      - any-glob-to-any-file: "modules/**/*"

# =================================================================================================
# Device Labels
# =================================================================================================
device/RB5009:
  - changed-files:
      - any-glob-to-any-file: "modules/rb5009/**/*"

device/CRS326:
  - changed-files:
      - any-glob-to-any-file: "modules/crs326/**/*"

device/CRS317:
  - changed-files:
      - any-glob-to-any-file: "modules/crs317/**/*"
