Repository mirceanton/mikrotik-terraform, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/terraform, device/RB5009, device/CRS326, device/CRS317

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/label-commenter-config.json
# =================================================================================================
# Area Labels
# =================================================================================================
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "*.tf"
      - any-glob-to-any-file: "modules/**/*"

# =================================================================================================
# Device Labels
# =================================================================================================
device/RB5009:
  - changed-files:
      - any-glob-to-any-file: "modules/rb5009/**/*"

device/CRS326:
  - changed-files:
      - any-glob-to-any-file: "modules/crs326/**/*"

device/CRS317:
  - changed-files:
      - any-glob-to-any-file: "modules/crs317/**/*"

reference vlan id from resource
  modules/hex/bridge.tf
Labels: area/terraform

configure ip services and certs
  modules/hex/ip-services.tf
Labels: area/terraform

use module
  main.tf
Labels: area/terraform

configure dhcp client
  modules/hex/dhcp.tf
Labels: area/terraform

update gitignore
  .gitignore
Labels: none

add taskfile support
  .mise.toml
Labels: none

add sops config
  .sops.yaml
Labels: none

add task to help with encryption/decryption
  Taskfile.yaml
Labels: none

add sops encrypted state and vars
  credentials.auto.sops.tfvars
  terraform.sops.tfstate
Labels: none

set ntp client
  modules/crs326/ntp.tf
Labels: area/terraform, device/CRS326

set system identity
  modules/crs326/system.tf
Labels: area/terraform, device/CRS326

set timezone
  modules/crs326/system.tf
Labels: area/terraform, device/CRS326

disable ipv6
  modules/crs326/system.tf
Labels: area/terraform, device/CRS326

configure tools
  modules/crs326/tools.tf
Labels: area/terraform, device/CRS326

import default bridge and enable vlan filtering
  modules/crs326/bridge.tf
Labels: area/terraform, device/CRS326

configure interfaces
  modules/crs326/interfaces.tf
Labels: area/terraform, device/CRS326

fix ntp server
  modules/crs326/ntp.tf
Labels: area/terraform, device/CRS326

update interface name
  modules/crs326/interfaces.tf
Labels: area/terraform, device/CRS326

configure ip services and certs
  modules/crs326/ip-services.tf
Labels: area/terraform, device/CRS326

organize cables
  modules/crs326/interfaces.tf
Labels: area/terraform, device/CRS326

configure vlans
  modules/crs326/vlans.tf
Labels: area/terraform, device/CRS326

add dhcp client
  modules/crs326/dhcp.tf
Labels: area/terraform, device/CRS326

cnofigure LACP
  modules/crs326/bonds.tf
Labels: area/terraform, device/CRS326

update vlans with bond interfaces
  modules/crs326/vlans.tf
Labels: area/terraform, device/CRS326

update comment
  modules/crs326/interfaces.tf
Labels: area/terraform, device/CRS326

configure bridge ports
  modules/crs326/bridge.tf
Labels: area/terraform, device/CRS326

add aqua config
  aqua.yaml
Labels: none

remove mise
  .mise.toml
Labels: none

remove postcreate command
  .devcontainer/devcontainer.json
Labels: none

update dockerfile
  .devcontainer/Dockerfile
  .devcontainer/aqua.yaml
Labels: none

add taskfile
  Taskfile.yaml
Labels: none

update gitignore
  .gitignore
Labels: none

add workflow to build and push devcontainer
  .github/workflows/devcontainer-build.yaml
Labels: area/github

use built image
  .devcontainer/devcontainer.json
Labels: none

remove toml extension
  .vscode/extensions.json
Labels: none

dont tag with sha, tag with branch?
  .github/workflows/devcontainer-build.yaml
Labels: area/github

add interface lists?
  modules/rb5009/firewall.tf
Labels: area/terraform, device/RB5009

add todo comment
  modules/rb5009/firewall.tf
Labels: area/terraform, device/RB5009

chore: update vscode settings
  .vscode/settings.json
Labels: none

chore: aqua on bare metal
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer-build.yaml
  aqua.yaml
Labels: area/github
